.page-title {
    margin-left: 600px;
    margin-top: 50px;
}

.upload-tool {
    margin-top: 2%;
    margin-left: 500px;
    margin-bottom: 15px;
}

label{
    color: rgb(92, 90, 90);
    margin-top: 10px;
    margin-right: 10px;
}

.no-records {
    margin-left: 550px;
    margin-top: 5%;
    color:rgb(114, 114, 114);
}

table {
    width: 100%;
}