
<div class="page-title"><h1>Upload File</h1></div>

<div class="upload-tool"><label>Insert file here (.csv)</label><input #fileinput type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="selectFile($event)"/>
  <button mat-button [disabled]="!selectedFiles" (click)="upload()" >
    Upload
  </button>
  <button mat-button  (click)="clearInput()" >
    <mat-icon style="color:white">refresh</mat-icon>
  </button>
</div>

<div class="progress my-3">
  <div
    class="progress-bar progress-bar-info progress-bar-striped"
    role="progressbar"
    attr.aria-valuenow="{{ progress }}"
    aria-valuemin="0"
    aria-valuemax="100"
    [ngStyle]="{ width: progress + '%' }"
  >
    {{ progress }}%
  </div>
</div>

<div class="container text-center"></div>

<div class="no-content" *ngIf="!showTable">
    <h2 class="no-records">No Records Available!</h2>
    <label class="upload-tool">Sorry, No records are found. You can start by uploading a file</label>
</div> 

  <table *ngIf="showTable" mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8">
  
      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
      <!-- Id Column -->
      <ng-container matColumnDef="file_id">
        <th mat-header-cell *matHeaderCellDef> ID. </th>
        <td mat-cell *matCellDef="let element"> {{element.file_id}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="file_name">
        <th mat-header-cell *matHeaderCellDef> File name </th>
        <td mat-cell *matCellDef="let element"> {{element.file_name}} </td>
      </ng-container>

      <ng-container matColumnDef="created_on">
        <th mat-header-cell *matHeaderCellDef> Created on </th>
        <td mat-cell *matCellDef="let element"> {{element.created_on}} </td>
      </ng-container>

      <ng-container matColumnDef="created_by">
        <th mat-header-cell *matHeaderCellDef> Created by </th>
        <td mat-cell *matCellDef="let element"> {{element.created_by}} </td>
      </ng-container>

      <ng-container matColumnDef="file_size">
        <th mat-header-cell *matHeaderCellDef> File size </th>
        <td mat-cell *matCellDef="let element"> {{element.file_size}} </td>
      </ng-container>

      <ng-container matColumnDef="accessmodifier">
        <th mat-header-cell *matHeaderCellDef> Accessibility </th>
        <td mat-cell *matCellDef="let element"> {{element.accessmodifier}} </td>
      </ng-container>
  
      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element" class="action-link"> 
          <mat-icon (click)="openDialog('Delete',element)">delete</mat-icon> 
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row (click)="goToContentPage(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator [pageSizeOptions]="pageSizeOptions"  [pageIndex]="currentPage"
    [pageSize]="pageSize"  (page)="pageChanged($event)" [length]="recordCount" showFirstLastButtons></mat-paginator>
   <!-- <button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add Row</button> -->