
<div class="page-title"><h1>Upload File</h1></div>
<div class="container-fluid">
  <mat-card class="fileinput-card">
    <div class="upload-tool"><label>Insert file here (.csv)</label><input #fileinput type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="selectFile($event)"/>
      <button mat-button [disabled]="!selectedFiles" (click)="upload()" >
        Upload
      </button>
      <button mat-button  (click)="clearInput()" >
        <mat-icon style="color:white">refresh</mat-icon>
      </button>
    </div>
    <div class="progress my-3" *ngIf="progress">
      <div
        class="progress-bar progress-bar-info progress-bar-striped"
        role="progressbar"
        attr.aria-valuenow="{{ progress }}"
        aria-valuemin="0"
        aria-valuemax="100"
        [ngStyle]="{ width: progress + '%' }"
      >
        {{ progress }}%
      </div>
    </div>
  </mat-card>
  <div class="row">
    <div class="col-sm">
      <mat-card class="uploadfile-card">
        <mat-card-title>Instructions</mat-card-title>
        <mat-card-subtitle>I.Upload File</mat-card-subtitle>
        <mat-card-content>
          <ul>
            <li>Currently, Filereader accepts CSV files only.</li>
            <li>A user can select the file from the system by using the file input</li>
            <li> Click on Upload button.</li>
            <li>On successful upload, the user will be notified. Click on <i>View Files</i> to view the uploaded files.</li>
            <li>If the operation fails, then check the error message and retry. If the problem persists, contact the system administrator.</li>
            <li>Click on <mat-icon>refresh</mat-icon> to clear the file input/ for a new upload</li>
          </ul>
        </mat-card-content>
        <mat-card-subtitle>II.View Files </mat-card-subtitle>
        <ul>
          <li>Records are sorted based on the last created.</li>
          <li>Click on the row to view the file content.</li>
          <li> Click on <mat-icon>delete</mat-icon> to delete the File</li>
        </ul>
        <!--
      <mat-card-actions>
          <button mat-button>VIEW</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
        -->
        
      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card class="uploadfile-card">
        <mat-card-title>Recent Activities</mat-card-title>
        <mat-card-content>
          <table *ngIf="showTable" mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8">
  
            <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
            <!-- Id Column -->
            <ng-container matColumnDef="file_id">
              <th mat-header-cell *matHeaderCellDef> ID. </th>
              <td mat-cell *matCellDef="let element"> {{element.file_id}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="file_name">
              <th mat-header-cell *matHeaderCellDef> File name </th>
              <td mat-cell *matCellDef="let element"> {{element.file_name}} </td>
            </ng-container>
      
            <ng-container matColumnDef="performed_on">
              <th mat-header-cell *matHeaderCellDef> Performed on </th>
              <td mat-cell *matCellDef="let element"> {{element.performed_on}} </td>
            </ng-container>
      
            <ng-container matColumnDef="performed_by">
              <th mat-header-cell *matHeaderCellDef> Performed by </th>
              <td mat-cell *matCellDef="let element"> {{element.performed_by}} </td>
            </ng-container>
      
            <ng-container matColumnDef="result">
              <th mat-header-cell *matHeaderCellDef> Result </th>
              <td mat-cell *matCellDef="let element"> 
                <span *ngIf="element.result=='SUCCESS'" style="color: green;">{{element.result}}</span>
                <span *ngIf="element.result=='FAILURE'"style="color: red;">{{element.result}}</span>  
              </td>
            </ng-container>
      
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<div class="footer">
  <div class="row">
    <div class="col-sm"><a href="https://jinothomas.github.io/mysite/"><p class="footer-text">jinothomas</p></a></div>
    <div class="col-sm"><a [routerLink]="['view-files']"><p class="footer-text">Filereader beta</p></a></div>
    <div class="col-sm"><a href="https://github.com/jinothomas/"><p class="footer-text">github.com/jinothomas</p></a></div>
  </div>
</div>

