<!-- app.component.html -->
<mat-sidenav-container>
  <mat-sidenav class="mat-elevation-z8" mode="side" opened>
    <img
      class="avatar mat-elevation-z8"
      src="./assets/images/jino_profile.jpg"
    />

    <h4 class="name">Jino Thomas</h4>
    <p class="designation">Software Engineer</p>

    <mat-divider></mat-divider>
    <button mat-button class="menu-button" [routerLink]="['home']">
      <mat-icon>home</mat-icon>
      <span>My Home</span>
    </button>
    <button mat-button class="menu-button" [routerLink]="['profile']">
      <mat-icon>person</mat-icon>
      <span>My Profile</span>
    </button>
    <button mat-button class="menu-button" [routerLink]="['upload-file']">
      <mat-icon>file_upload</mat-icon>
      <span>Upload File</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>Filereader</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
