<!-- dialog-box.component.html -->
<h1 mat-dialog-title><strong><mat-icon>{{local_data.icon}}</mat-icon></strong></h1>
<div mat-dialog-content>
  <div *ngIf="action">
    {{local_data.message}}
  </div>
</div>
<div mat-dialog-actions *ngIf="action == 'Delete'">
  <button mat-button (click)="doAction()" color="pink">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button>Cancel</button>
</div>
<div mat-dialog-actions *ngIf="action != 'Delete'">
  <button mat-button (click)="closeDialog()" mat-flat-button>Close</button>
</div>